
@{
    ViewBag.Title = "Failure View";
}

<h2>Failure View - We're sorry, your payment did not process at this time.</h2>

<p>Please try again, or contact Hazeltine Storage to report this issue and/or make other payment arrangements.</p>

@*@Html.ActionLink("Return to Your Account", "UpdateCustomerBalance", "Customers", new { id = Model.Id }, null)*@
