@model HazeltineStorage.ViewModels.ContractBuilderViewModel
@{
    ViewBag.Title = "BuildContract";
}

<h2>Build Contract for </h2>

<p>Test</p>

@*@Model.Customer.FirstName*@

@*<ul>
    @foreach (var product in Model.Products)
    {
        <li>@product.UnitNumber</li>
    }
</ul>*@
