
@{
    ViewBag.Title = "Index";
}

<h2>Hazeltine Storage Manager Dashboard</h2>

<br />
<hr />
<br />

<div class="row">

    <div class="col-md-3">

        <p><a href="~/Customers/Index" class="btn btn-primary btn-lg">Customers</a></p>

    </div>
    <div class="col-md-3">

        <p><a href="~/Customers/Index" class="btn btn-primary btn-lg">Contracts</a></p>

    </div>
    <div class="col-md-3">

        <p><a href="~/Customers/Index" class="btn btn-primary btn-lg">Invoices</a></p>

    </div>
    <div class="col-md-3">

        <p><a href="~/Customers/Index" class="btn btn-primary btn-lg">Payments</a></p>

    </div>
</div>

<div class="row">

    <div class="col-md-3">

        <p><a href="~/Customers/Index" class="btn btn-primary btn-lg">Storage Units</a></p>

    </div>
    <div class="col-md-3">

        <p><a href="~/Customers/Index" class="btn btn-primary btn-lg">Activity Log</a></p>

    </div>
    <div class="col-md-3">

        <p><a href="~/Customers/Index" class="btn btn-primary btn-lg">Message Manager</a></p>

    </div>
    <div class="col-md-3">

        <p><a href="~/Customers/Index" class="btn btn-primary btn-lg">Lead Manager</a></p>

    </div>
</div>