@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<hr />

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <h3>The Hazeltines</h3>
    </div>
</div>

    <div class="row">
        <div class="col-md-4">
            <br />
            <center>
                <img src="~/Content/Images/DougSueHazeltine.jpg" alt="Doug & Sue Hazeltine" width="300" />
                <p>Sue & Doug Hazeltine at grandaughter's wedding.</p>
            </center>
        </div>
        <div class="col-md-8">
            <h4>
                Doug and Sue Hazeltine settled in the Edgerton Wisconsin community in 1966, raising a family and farming. The Hazeltines were a part of the heritage of tobacco farming in the local area. After they discontinued raising tobacco in 1996, they converted their tobacco sheds into self storage facilities and Hazeltines Storage was born.
                <br />
                <br />
                The Hazeltines have flourished in many agricultural ventures, including raising strawberries for the public for 30 years as Hazeltine Strawberries. The Hazeltines also own a generational family farm west of Janesville, designated as a Century Farm, where Doug’s grandparents lived.
                <br />
                <br />
                Doug and Sue are committed to family, farming, and their faith. They are invested in the next generation, teaching their children and grandchildren about farm life, and co-owning the storage business with their son, Tim. The Hazeltines hope to continue serving the Edgerton community well into the future.
            </h4>
        </div>
    </div>
