@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<hr />

<div class="row">
    <div class="col-md-6">
        <h2>The Hazeltine Story</h2>
        <br />
        <h4>This is where we tell the story of the Doug and Sue Hazeltine and how they built the business.</h4>
    </div>
    <div class="col-md-6">
        <center>
            <img src="~/Content/Images/DougSueHazeltine.jpg" alt="Doug & Sue Hazeltine" width="300" />
        </center>
    </div>
</div>