@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3>Hazeltines Storage LLC.</h3>
<address>
    11499 Dallman Road<br />
    Edgerton, WI 53534-9419<br />
    @*<abbr title="Phone">P:</abbr>*@
    Phone: 608-884-8992
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:manager@hazeltines.com">manager@hazeltines.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>