@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"> 
    <div class="row">
        <div class="col-md-3">
            <br />
            <center>
                <img src="~/Content/Images/HazeltineStorageBuilding.png" alt="Hazeltine Storage Building" width="250"/>
            </center>
        </div>

        <div class="col-md-9">
            <center>
                <h1>Hazeltines Storage, LLC</h1>
            </center>
            <center>
                <p class="lead">A local family owned storage business for over 25 years. 
                <br />Conveniently located in Edgerton Wisconsin.</p>
            </center>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Large Units</h2>
        <p>Units large enough to store a car.</p>
        <p><a class="btn btn-default" href="~/Home/StorageOptions">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Small Units</h2>
        <p>Perfect for extra storage of out of season items.</p>
        <p><a class="btn btn-default" href="~/Home/StorageOptions">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Outdoor Lots</h2>
        <p>Good for RVs, campers and boats.</p>
        <p><a class="btn btn-default" href="~/Home/StorageOptions">Learn more &raquo;</a></p>
    </div>
</div>

<br />
<h2>Call 608-884-8992 to check availability and reserve your spot!</h2>
<br />