@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"> 
    <div class="row">
        <div class="col-md-3">
            <br />
            <center>
                <img src="~/Content/Images/HazeltineStorageBuilding.png" alt="Hazeltine Storage Building" width="250"/>
            </center>
        </div>

        <div class="col-md-9">
            <center>
                <h1>Hazeltine Storage</h1>
            </center>
            <center>
                <p class="lead">A place to put your stuff in Edgerton Wisconsin!</p>
            </center>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enclosed Storage</h2>
        <p>Units large enough to store a car.</p>
        <p><a class="btn btn-default" href="~/Home/StorageOptions">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Small Units</h2>
        <p>Perfect for extra storage of out of season items.</p>
        <p><a class="btn btn-default" href="~/Home/StorageOptions">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Outdoor lot</h2>
        <p>Good for RVs, campers and boats.</p>
        <p><a class="btn btn-default" href="~/Home/StorageOptions">Learn more &raquo;</a></p>
    </div>
</div>