
@{
    ViewBag.Title = "Storage Options";
}

<h2>@ViewBag.Title</h2>
@*<h2>Storage Options</h2>*@

<hr />

<h2>We offer the following storage options:</h2>
    <ul>
        <li><h3>10' x 10' is $45 per month</h3></li>
        <li><h3>12' x 12' is $55 per month</h3></li>
        <li><h3>10' x 20' is $70 per month</h3></li>
        <li><h3>Outdoor lots suitible for RV, camper, boat or any vehicle are $25 per month.
            <br />Or... Sign up to rent 5 months and receive one month free!</h3></li>
    </ul>

<br />
<h2>Call 608-884-8992 to check availability and reserve your space!</h2>
<br />