
@{
    ViewBag.Title = "Storage Options";
}

<h2>@ViewBag.Title</h2>
@*<h2>Storage Options</h2>*@

<h2>We offer the following storage options:</h2>


<ul>
    <li>10' x 10' is $45 per month</li>
    <li>12' x 12' is $55 per month</li>
    <li>10' x 20' is $45 per month</li>
    <li>Outdoor lots suitible for RV, Camper or Boat is $25 per month</li>
</ul>