@model HazeltineStorage.Models.Payment

@{
    ViewBag.Title = "Report Successful Online Payment";
}

<h2>Report Successful Online Payment</h2>



<h2>
    Thank you for your payment of

    @Html.DisplayFor(model => model.AmountReceived)
</h2>
<p>
    @Model.AmountReceived
</p>

<br />

@Html.ActionLink("Return to Your Account", "Manage", "Customers", new { id = Model.CustomerId }, null)